:root {
    --md-primary-fg-color: #ff0000;
    --md-primary-fg-color--light: #ff3333;
    --md-primary-fg-color--dark: #cc0000;

    --md-accent-fg-color: #ff0000;
}

/* Header */
.md-header {
    background-color: #ff0000 !important;
}

.md-tabs {
    background-color: #cc0000 !important;
}

/* Links */
.md-typeset a,
.md-nav__link--active,
.md-sidebar .md-nav__link--active {
    color: #ff0000 !important;
}

.md-nav__link:hover,
.md-sidebar .md-nav__link:hover,
.md-typeset a:hover {
    color: #ff3333 !important;
}

/* Search bar */
.md-search__form {
    background-color: #cc0000 !important;
}

/* Scrollbars */
html {
    scrollbar-color: #ff0000 #1a1a1a;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff0000 !important;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #cc0000 !important;
}
.md-sidebar--secondary .md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
    background: #ff0000 !important;
}

.md-sidebar--secondary .md-sidebar__scrollwrap::-webkit-scrollbar {
    width: 8px !important;
}

.md-sidebar--secondary .md-sidebar__scrollwrap::-webkit-scrollbar-track {
    background: transparent !important;
}
.md-sidebar__scrollwrap {
    scrollbar-color: #ff0000 transparent !important;
}

.md-sidebar__scrollwrap::-webkit-scrollbar {
    width: 8px !important;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
    background-color: #ff0000 !important;
    border-radius: 999px !important;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-track {
    background: transparent !important;
}
.md-sidebar__scrollwrap {
    overflow-y: overlay !important;
}
body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.md-main {
    background: transparent !important;
}
body {
    background: red !important;
}